{% extends 'template.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}


{% block title %}Edit Article{% endblock %}

{% block body %}
<br><br><br>
<h1>Edit Article</h1>

<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-6">

            {{ include('article/_form.html.twig', {'button_label': 'Update'}) }}

            <a href="{{ path('article_index') }}" class="btn btn-primary">back to list</a>

        </div>
    </div>
</div>

{% endblock %}